<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../includes/head') %>
    <title>Post review - Snappy Book Review</title>
  </head>
  <body>
    <%- include('../../includes/header') %>
    <div class="sbr-maincontainer">
      <h1>Leave a review for a book</h1>
      <form class="sbr-form" id="review_form">
        <div class="sbr-form-field">
          <label for="isbn" class="form-label">Book ISBN</label>
          <input class="form-control" id="isbn">
        </div>
        <div id="isbn_validator_response_field"></div>
        <div class="sbr-form-field">
          <label class="sbr-form-label">Rating</label>
          <div class="sbr-rating-star sbr-rating-star-dynamic">
            <% for (let i=5; i>=1; i--) { %>
              <input type="radio" name="rating" id="rating_<%= i %>">
              <label for="rating_<%= i %>"></label>
            <% } %>
          </div>
        </div>
        <div class="sbr-form-field">
          <label for="comment_text_area">Comment</label>
          <textarea class="form-control" id="comment_text_area" rows="3"></textarea>
        </div>
        <button type="submit" class="sbr-form-submit-btn">Submit review</button>
      </form>
      <div id="form_submit_info"></div>
    </div>
    <%- include('../../includes/footer') %>
    <script src="<%= config.siteUrl %>/js/books/post-review.js"></script>
  </body>
</html>