<!DOCTYPE html>
<html>
  <head>
    <%- include ('../../includes/head') %>
    <title>Account details - Snappy Book Review</title>
  </head>
  <body>
    <%- include('../../includes/header') %>
    <div class="sbr-maincontainer">
      <h1>Account settings</h1>
      <form class="sbr-form" id="name_settings">
        <div class="sbr-signup-form-container">
          <div class="sbr-form-field sbr-signup-form-first-name">
            <label for="first_name_input" class="sbr-form-label">First Name</label>
            <input class="sbr-form-control" id="first_name_input">
          </div>
          <div class="sbr-form-field sbr-signup-form-last-name">
            <label for="last_name_input" class="sbr-form-label">Last Name</label>
            <input class="sbr-form-control" id="last_name_input">
          </div>
        </div>
        <button type="submit" class="sbr-form-submit-btn">Change name</button>
        <div id="name_form_submit_info"></div>
      </form>
      <br>
      <form class="sbr-form" id="email_setting">
        <div class="sbr-form-field">
          <label for="email_input" class="sbr-form-label">Email adress</label>
          <input type="email" class="sbr-form-control" id="email_input">
        </div>
        <button type="submit" class="sbr-form-submit-btn">Change email address</button>
        <div id="email_form_submit_info"></div>
      </form>
      <br>
      <form class="sbr-form" id="password_setting">
        <div class="sbr-form-field">
          <label for="password_input" class="sbr-form-label">Password</label>
          <input type="password" class="sbr-form-control" id="password_input" aria-describedby="password_help">
          <div id="password_help" class="sbr-form-text">
            Your password must be 8-20 characters long, containing at least one letter and one number.
          </div>
        </div>
        <div class="sbr-form-field">
          <label for="verify_password_input" class="form-label">Verify password</label>
          <input type="password" class="form-control" id="verify_password_input">
        </div>
        <button type="submit" class="sbr-form-submit-btn">Change password</button>
        <div id="password_form_submit_info"></div>
      </form>
    </div>
    <%- include('../../includes/footer') %>
    <script>
      function nameSubmit(infobox) {
        const nameregex = /^[a-zA-Z ]{1,255}$/;
        var firstName = document.getElementById('first_name_input').value;
        if (!firstName.match(nameregex)) {
          if (firstName.length > 0) {
            Common.CommonUI.errorMessage(infobox, 'First name invalid.');
          } else {
            Common.CommonUI.errorMessage(infobox, 'First name required.');
          }
          return;
        }
        var lastName = document.getElementById('last_name_input').value;
        if (!lastName.match(nameregex)) {
          if (lastName.length > 0) {
            Common.CommonUI.errorMessage(infobox, 'Last name invalid.');
          } else {
            Common.CommonUI.errorMessage(infobox, 'Last name required.');
          }
          return;
        }

        Common.CommonUI.loadingIcon(infobox);

        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            Common.CommonUI.successMessage(infobox, this.responseText);
          }
          else if (this.readyState == 4) {
            Common.CommonUI.errorMessage(infobox, this.responseText);
          }
        };
        xhttp.open('POST', '<%= config.siteUrl %>/account/account-settings/submit/', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        const data = {
          setting: 'name',
          firstName: firstName,
          lastName: lastName
        };
        xhttp.send(JSON.stringify(data));
      }

      function emailSubmit(infobox) {
        const emailregex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        const email = document.getElementById('email_input').value;
        if (!email.match(emailregex)) {
          if (email.length > 0) {
            Common.CommonUI.errorMessage(infobox, 'Email address invalid.');
          } else {
            Common.CommonUI.errorMessage(infobox, 'Email address required.');
          }
          return;
        }
        Common.CommonUI.loadingIcon(infobox);

        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            Common.CommonUI.successMessage(infobox, this.responseText);
          }
          else if (this.readyState == 4) {
            Common.CommonUI.errorMessage(infobox, this.responseText);
          }
        };
        xhttp.open('POST', '<%= config.siteUrl %>/account/account-settings/submit/', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        const data = {
          setting: 'email',
          email: email
        };
        xhttp.send(JSON.stringify(data));
      }

      function passwordSubmit(infobox) {
        const passwordregex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$/;
        const password = document.getElementById('password_input').value;
        if (!password.match(passwordregex)) {
          if (password.length > 0) {
            Common.CommonUI.errorMessage(infobox, 'Password invalid.');
          } else {
            Common.CommonUI.errorMessage(infobox, 'Password required.');
          }
          return;
        }
        const verifyPassword = document.getElementById('verify_password_input').value;
        if (password != verifyPassword) {
          Common.CommonUI.errorMessage(infobox, 'Passwords do not match.');
          return;
        }
        Common.CommonUI.loadingIcon(infobox);

        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            Common.CommonUI.successMessage(infobox, this.responseText);
          }
          else if (this.readyState == 4) {
            Common.CommonUI.errorMessage(infobox, this.responseText);
          }
        };
        xhttp.open('POST', '<%= config.siteUrl %>/account/account-settings/submit/', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        const data = {
          setting: 'password',
          password: password
        };
        xhttp.send(JSON.stringify(data));
      }
    </script>
    <script>
      document.getElementById('name_settings').addEventListener('submit',
      function(event) {
        event.preventDefault();
        nameSubmit(document.getElementById('name_form_submit_info'));
      });
    </script>
    <script>
      document.getElementById('email_setting').addEventListener('submit', 
      function(event) {
        event.preventDefault();
        emailSubmit(document.getElementById('email_form_submit_info'));
      });
    </script>
    <script>
      document.getElementById('password_setting').addEventListener('submit',
      function(event) {
        event.preventDefault();
        passwordSubmit(document.getElementById('password_form_submit_info'));
      });
    </script>
  </body>
</html>