<!DOCTYPE html>
<html>
  <head>
    <%- include ('../../includes/head') %>
    <title>Log in - Snappy Book Review</title>
  </head>
  <body>
    <%- include('../../includes/header') %>
    <div class="sbr-maincontainer">
      <h1>Log in</h1>
      <p>Don't have an account? Click <a href="<%= config.siteUrl %>/account/create-account/">here</a> to create one.</p>
      <form class="sbr-form" id="login_form">
        <div class="sbr-form-field">
          <label for="email_input" class="sbr-form-label">Email adress</label>
          <input type="email" class="sbr-form-control" id="email_input">
        </div>
        <div class="sbr-form-field">
          <label for="password_input" class="sbr-form-label">Password</label>
          <input type="password" class="sbr-form-control" id="password_input">
        </div>
        <button type="submit" class="sbr-form-submit-btn">Log in</button>
      </form>
      <div id="form_submit_info"></div>
    </div>
    <%- include('../../includes/footer') %>
    <script>
      function formSubmit(infobox) {
        const email = document.getElementById('email_input').value;
        if (email === '') {
          Common.CommonUI.errorMessage(infobox, 'Email is required.');
          return;
        }
        const password = document.getElementById('password_input').value;
        if (password === '') {
          Common.CommonUI.errorMessage(infobox, 'Password is required.');
          return;
        }
        Common.CommonUI.loadingIcon(infobox);
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            Common.CommonUI.successMessage(infobox, this.responseText);
            Account.Account.checkLogin('<%= config.loggedInCookie %>');
          }
          else if (this.readyState == 4) {
            Common.CommonUI.errorMessage(infobox, this.responseText);
          }
        };
        xhttp.open('POST', '<%= config.siteUrl %>/account/log-in/submit/', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        const data = {
          email: email,
          password: password
        }
        xhttp.send(JSON.stringify(data));
      }
    </script>
    <script>
      document.getElementById('login_form').addEventListener('submit',
        function (event) {
          event.preventDefault();
          formSubmit(document.getElementById('form_submit_info'));
        });
    </script>
  </body>
</html>