<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../includes/head') %>
    <title>Log in - Snappy Book Review</title>
  </head>
  <body>
    <%- include('../../includes/header') %>
    <div class="sbr-maincontainer">
      <h1>Log in</h1>
      <p>Don't have an account? Click <a href="<%= config.siteUrl %>/account/create-account/">here</a> to create one.</p>
      <form class="sbr-form" id="login_form">
        <div class="sbr-form-field">
          <label for="email_input" class="sbr-form-label">Email adress</label>
          <input type="email" class="sbr-form-control" id="email_input">
        </div>
        <div class="sbr-form-field">
          <label for="password_input" class="sbr-form-label">Password</label>
          <input type="password" class="sbr-form-control" id="password_input">
        </div>
        <button type="submit" class="sbr-form-submit-btn">Log in</button>
      </form>
      <div id="form_submit_info"></div>
    </div>
    <%- include('../../includes/footer') %>
    <script src="<%= config.siteUrl %>/js/account/log-in.js"></script>
  </body>
</html>