<!-- header -->
<nav class="sbr-navbar">
  <div class="sbr-navbar-container">
    <a class="sbr-navbar-brand" href="<%= config.siteUrl %>/">Snappy Book Review</a>
    <button class="sbr-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sbr-navbar-main-dropdown">
      <span></span>
    </button>
    <div class="sbr-navbar-collapse collapse" id="sbr-navbar-main-dropdown">
      <ul class="sbr-navbar-space-right">
         <li>
            <a href="<%= config.siteUrl %>/">Home</a>
         </li>
      </ul>
      <form class="sbr-navbar-search sbr-navbar-space-right" action="<%= config.siteUrl %>/search" method="get">
         <input name="q" type="search" placeholder="Search for a book">
         <button type="submit">Search</button>
      </form>
      <ul>
         <li>
            <a id="login-button" href="<%= config.siteUrl %>/account/log-in/">Log in</a>
         </li>
         <li>
            <a id="signup-button" href="<%= config.siteUrl %>/account/create-account/">Create account</a>
         </li>
         <li>
            <a id="logout-button" href="javascript:void(0)">Log out</a>
         </li>
         <script>
               document.getElementById('logout-button').addEventListener('click',
                  function () {
                     event.preventDefault();
                     var xhttp = new XMLHttpRequest();
                     xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                           document.cookie = 'logged_in=false; path=/';
                           Account.checkLogin();
                        }
                     };
                     xhttp.open('POST', '<%= config.siteUrl %>/account/log-out/submit/', true);
                     xhttp.send();
                  });
          </script>
      </ul>
    </div>
  </div>
</nav>